body{
    background-color: rgba(242,242,242,255);
}

.wallet {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.textField{

    background: rgba(242,242,242,255);
    

}

.button-paste{
    color: black;
}

.wallet-form {
  justify-content: center;
  min-height: 90vh;
}
.button-block {
  width: 100%;
  color: "black";
  background-color: rgba(244,203,98,255);
  font-weight: bold;
}
.typography{

    text-align: center;
    padding-bottom: 15px;

}
.wallet-background {
  justify-content: center;
  min-height: 30vh;
  padding: 40px;
}
